.sidebar {
  transition: all 0.5s ease;
  background-color: #f4f4f4;
  padding: 30px;
  border-right: 1px solid #ddd;
  height: 100vh;
  width: 300px;
  position: fixed;
  top: 0;
  left: 0;
  padding-right: 0;
}

.sidebar.closed {
  left: -300px;
  overflow: hidden;
}

.toggle-button {
  background-color: #f4f4f4;
  color: #000000;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 25px;
  position: fixed;
  left: 230px;
  transition: all 0.5s ease;
}

.toggle-button:hover, .sidebar.closed .toggle-button:hover {
  background-color: #cccccc;
}

.sidebar.closed .toggle-button {
  background-color: #ffffff;
  position: fixed;
  left: 20px;
}

.new-conversation {
  font-size: 20px;
  margin-top: 100px;
  text-align: center;
  cursor: pointer;
  padding: 10px;
  border: none;
  width: 240px;
  background-color: #f4f4f4;
  border-radius: 5px;
}

.new-conversation:hover {
  background-color: #dddddd;
}

.conversation-container {
  max-height: 1030px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 10px;
  padding-right: 30px;
}

.conversation-list {
  width: 239px;
  list-style-type: none;
  padding: 0;
}

.conversation-item {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #e9ecef;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
}

.conversation-item:hover {
  background-color: #ddd;
}

.info {
  text-align: center;
  width: 46px;
  font-size: 20px;
  padding: 10px;
  border-radius: 50%;
  box-sizing: border-box;
  color: #888888;
  background-color: #ddd;
  position: fixed;
  bottom: 20px;
  cursor: pointer;
  caret-color: transparent;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(128, 128, 128, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  width: 300px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.close-button {
  margin-top: 10px;
  padding: 8px 16px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.close-button:hover {
  background-color: #0056b3;
}