@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* 기본 폰트 설정 */
div, p, #streamlit-chatbot, #bdacffe9, li {
    font-family: 'Pretendard-Regular', sans-serif !important;
}

/* 사용자 메시지 스타일 (우측 말풍선) */
.user-message {
    background-color: #d1e7ff;
    padding: 10px 15px;
    border-radius: 15px;
    max-width: 70%;
    margin-bottom: 10px;
    align-self: flex-end;
    position: relative;
    word-wrap: break-word; 
}

/* AI 메시지 스타일 (좌측 말풍선) */
.ai-message {
    background-color: #f0f0f0;
    padding: 10px 15px;
    border-radius: 15px;
    max-width: 100%;
    margin-bottom: 10px;
    align-self: flex-start;
    position: relative;
    word-wrap: break-word;
}

/* 메시지 컨테이너 스타일 */
.chat-container {
    display: flex;
    flex-direction: column;
}
